.color-primary {
	color: #89CE94;
}

.color-secondary {
	color: #7D5BA6;
}

.color-terc {
	color: #7D5BA6;
}
.color-acc {
	color: #643173;
}


.portfolio-box-1 .mask,
#filter li a span,
.color-over-hero,
.stack__deco,
#owl-home.owl-theme .owl-controls .owl-page.active span,
#owl-home.owl-theme .owl-controls .owl-page span:hover,
.background-color-blue,
.home-video,
.project-next-prev:hover .mask,
.partners,
#owl-sep-1.owl-theme .owl-controls .owl-page span:hover,
#owl-sep-1.owl-theme .owl-controls .owl-page.active span,
#owl-blog-slider.owl-theme .owl-controls .owl-page.active span,
#owl-blog-slider.owl-theme .owl-controls .owl-page span:hover,
.sidebar-search button,
.sidebar-list-two li a:hover,
#ajax-form button:hover,
#cd-zoom-in, #cd-zoom-out{
	background-color: #89CE94;
}
.cbp-af-header.cbp-af-header-shrink .menu ul li ul li a.curent-multi-page,
.cbp-af-header.cbp-af-header-shrink .menu ul li ul li a.curent-multi-page:hover,
.menu ul li ul li a.curent-multi-page,
.menu ul li ul li a.curent-multi-page:hover,
.project-des a:hover,
.page-title h3,
.page-title .text-up,
.page-title h5,
.about-wrap .about-icon,
.quote h4,
.num-of-com span,
.comm-link,
.sidebar-list-one li a:hover,
.comment a{
	color:#D0DCD8;
}
.menu ul li:hover a.shadow-hover{
	text-shadow: -7px 6px 0 #643173;
}
.menu ul li a.curent-shadow{
	text-shadow: -7px 6px 0 #7D5BA6;
}
.content__link,
.home-text-freelance h2 span,
.subscribe button:hover{
	color:#643173;
}
.decoshape.arrow-top,
.content__link:hover .decoshape {
	fill: #643173;
}
.content .content__mask{
	background-color: #ffffff75;
}
.morph {
	fill: #643173;
}
.list-social-footer li:hover{
	background-color: #643173;
}
.portfolio-box-1 .text-on-hover,
.case-study-wrapper li a span,
.home-text-freelance .link,
.tipper .tipper-content,
.team-wrap h6 {
	text-shadow: -5px 4px 0 #643173;
}
#filter li a:hover,
#filter li .current,
.quote p {
	text-shadow: -7px 5px 0 rgba(54,61,194,.3);
}
.home-text-freelance.shadow-text h2{
	text-shadow: -9px 7px 0 #643173;
}
.home-video {	
	outline: 1px double #643173;
}
figure.vimeo a:before, figure.youtube a:before {
	border-left: 10px solid #643173;
}
figure.vimeo:hover a:after, figure.youtube:hover a:after {
	background:#6431732;
}
.tooltip__shape,
.tooltip--sadoc .tooltip__shape path {
	fill: #643173;
}
.tooltip--sadoc .tooltip__shape path {
	stroke: rgba(54,61,194,.3);
}
.arrow-icons:hover,
.blog-pagination li p:hover,
.subscribe button:hover{
	text-shadow: -4px 3px 0 rgba(54,61,194,.3);
}
.post-wrapper blockquote{ 
	border-left:3px solid #643173;
}
.sidebar-search input:active,
.sidebar-search input:focus {	
	border-bottom:1px solid #643173;
}
.subscribe input:active,
.subscribe input:focus {	
	border-bottom:1px solid #643173;
}
.sidebar-list-one li:before{ 
	border:1px solid #643173;
}
.sidebar-list-two li a:hover{
	border:2px solid #643173;
}
#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {	
	border-bottom:1px solid #643173;
}




















